*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*Header Navgation Css Start From Here*/
header{
    background-color: #2FA73B;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header a{
    padding: 30px 10px;
    text-decoration: none;
    color:white;
    
}
header a:hover{
    background-color: #79b480;
}
header img{
    margin-left:30px;
}

header i{
   position: absolute;
   left:0px;
   padding: 20px;
   color:white;
   font-size: 24px;
   font-weight: bold;
   display:none !important;
}
@media (min-width:768px){
    header a{
        display:block !important;
    }
}
@media (max-width:768px){
    header a{
        display:none;
    }
    header i {
        display: inline-block !important;
    }
}
/* header style end here  */

.contact{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.LeftSideImage{
    background-image: url('images/contact-side.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 550px;
    flex: 1;
}
.contactForm{
    background-image: url('images/contact--us-back.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 550px;
    /* width: 50%; */
    flex: 1;
    padding: 20px;
}

  /* Full-width input fields */
  input[type=text], input[type=password] {
    width: 60%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 1px solid white;
   background-color:transparent;
    height:2.4pc;
    border-radius:5px;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: transparent;
    text-align:right;
    outline: none;
  
  }
  ::placeholder{
    float: right;
    color:white;
  }
  


.fBanner{
    background-image: url('images/banner-2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 250px;
    margin-top: 15px;
}
.sBanner{
    background-image: url('images/section-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.sContent{
    margin: 20px;
    width:50%;
}
.sContent h2{
    font-size: 44px;
    font-weight: bold;

}

footer{
    color:white;
    background-color: black;
    padding: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
footer span{
    margin-left:10%;
}
footer span i {
    padding: 1rem;
}